body{
background-image: url('./assets/bkg1.jfif');
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;

}

h1{
    color: rgba(255, 255, 255, .8);
}

#one{
    display: inline-block;
    color: rgba(255, 255, 255, .8);
}
#two{
    display: inline-block; 
    color: rgba(255, 255, 255, .8);
}
#three{
    display: inline-block;
    color: rgba(255, 255, 255, .8);
}
#four{
    display: inline-block;
    color: rgba(255, 255, 255, .8);
}